body {
    background: white;
    margin: 0;
    font-family: system-ui;
}

main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 93vh;
    background: white;
    border-radius: 0.5%;
    border-style: outset;
    border-width: 8px;
    border-color: slateblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.login_form {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 50%;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#register {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#font0-5 {
    font-size: 0.5em;
}

/*#region animation  */
.sound {
    transition: 400ms ease;
    overflow: hidden;
    margin-left: 730px;

}

/* #endregion */
/* #region icon */
.sound-icon {
    list-style: none;
    display: flex;
    flex-direction: column;
    overflow: visible;
    align-items: center;

}

/* #endregion */
/* #region slider width */
input[type="range"] {
    max-width: 4rem;
}

/* #endregion */
/* #region height and hover */
@media only screen and (min-width: 600px) {
    .sound {
        width: 5rem;
        height: 5rem;
    }

    .sound:hover {
        height: 7rem;
        background-color: gray;
    }
}

/* #endregion */

#placeholder {
    margin: auto auto;
    text-align: center;
    color: white;
}

.live {
    text-align: center;
    position: relative;
    /*background: #a0aec0;*/
    top: 1vh;
    width: 80vw;
    height: 60vh;
    margin: 0 auto;
}

#live-waiting {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, 0);

}

#live-information {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#movableImage {
    object-fit: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-position: 0 0;
    border-radius: 1%;
}

.arrows {
    position: absolute;
    bottom: 70px;
    right: 60px;
}

.arrow {
    width: max-content;
    height: 70px;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
}

.arrow:hover {
    background-color: rgba(40, 49, 225, 0.48);
    cursor: pointer;
    border-color: rgba(18, 23, 107, 0.48);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.arrow-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#up {
    transform: translate(-100%, -146%);
    /*margin-top: 0;*/
}

#down {
    transform: translate(-100%, -5%);
    /*margin-bottom: 20px;*/
}

#left {
    transform: translate(-175%, -76%);
    /*margin-left: 20px;*/
}

#right {
    transform: translate(-25%, -76%);
    /*margin-right: 20px;*/
}

.listeners-group {
    height: 150px;
    width: 250px;
    position: absolute;
    bottom: 0;
    left: 0;
    border: 1px solid #1a202c;
}

.microphone {
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 114px;
    left: 260px;
}

.buttons-wait {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    justify-content: center;
}


.button-wait {
    font-size: 2em;
    height: 20vh;
    width: 40%;
    padding: 0.5em;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    border-radius: 5%;
    border-style: outset;
    border-width: 5px;
    border-color: rgba(18, 23, 107, 0.63);
}

.cards {
    position: absolute;
    bottom: 2vh;
    right: 16vw;
}

.card {
    font-size: 2em;
    height: 20vh;
    max-width: max-content;
    min-width: 12vw;
    padding: 0.5em;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    border-radius: 5%;
    border-style: outset;
    border-width: 5px;
    border-color: rgba(18, 23, 107, 0.63);
}


/*.card :hover{*/
/*    background-color: #1a202c;*/
/*}*/
.button-wait p {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    top: 50%;
}

#start, #test-environment {
    background-color: cornflowerblue;
}

#middle {
    background-color: mediumpurple;
    text-align: center;
}

#end {
    background-color: slateblue;
    text-align: center;
}

#start:hover, #middle:hover, #end:hover, #test-environment:hover, #join-live:hover {
    background-color: rgb(23, 1, 58);
    cursor: pointer;
    color: white;
    border-style: inset;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* popup style */

#viewerImage {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

#viewerImage:hover {
    opacity: 0.5;
}

.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

.popupImage {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.popupImage, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }

}


/* close button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .popupImage {
        width: 100%;
    }
}


/* star for quiz */

#quiz {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: 0.3s;
}

#quizImage {
    object-fit: cover;
    width: 45%;
    height: auto;
    /*object-position: 50% 50%;*/
}

.quizContent {
    background: #cccccc;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

.quizContent {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#quizQuestions {
    display: block;
    margin-bottom: 10px;
}

.closeQuiz {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.closeQuiz:hover,
.closeQuiz:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#quizImage:hover {
    filter: drop-shadow(5px 5px 5px rgba(98, 98, 98, 0.49));
}

#header-logo {
    background: #5B7DE6;
    width: 50%;
    height: 100%;
    position: absolute;
}

#login-logo-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;

}

#home {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 50%;
    padding: 1%;
}

a {
    text-decoration: none;
}

.links {
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.link-button {
    background: #5B7DE6;
    margin-top: 5%;
    padding: 15%;
    color: white;
    font-weight: bold;

}

.link-button:hover {
    background: #072c57;

}

#back-home {
    position: absolute;
    padding: 0.5%;
    bottom: 5%;
    left: 20%;
    border-radius: 0.5%;
    border-style: outset;
    border-width: 3px;
    border-color: slateblue;
    background-color: white;
    font-weight: bold;
}

#back-home:hover {
    background-color: #6a5acc;
    color: white;
}

.log-out {
    z-index: 1;
    position: absolute;
    top: 2%;
    left: 0.5%;
    width: max-content;
    padding: 0.1% 0.5%;
    border-radius: 0.5%;
    border-style: outset;
    border-width: 5px;
    border-color: slateblue;

    background-color: #718ce7;
}

#link {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.log-out:hover {
    background-color: white;
    border-color: #708be6;

#link {
    color: #6a5acc;
}

}

.hidden {
    display: none;
}

#video {
    width: 250px;
    height: 200px;
    border-style: outset;
    border-width: 5px;
    border-color: slateblue;
    /*margin: -5% -5%;*/
}

/*test popup css */

.testModal{

    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

.testModal-content{
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.testClose{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.testClose:hover,
.testClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.testPopup-title{
    text-align: center;
}

.testPopup-cameraText,
.testPopup-soundText {
    display: inline-block; /* Plaatst de h3-tags naast elkaar */
    margin-right: 5%; /* Voegt wat ruimte toe tussen de h3-tags */
    margin-left: 220px;
}




