.arrow-down:hover,
.arrow-up:hover,
.arrow-left:hover,
.arrow-right:hover {
    background-color: rgba(255, 255, 255, 0.29);
    cursor: pointer;
    border-color: #888;
}

.arrows {
    position: fixed;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.controller {
    position: relative;
    left: 50%;
    bottom: 0;
}
.container {
    position: absolute;
    bottom: 0;
    left: 50vw;
    transform: translateX(-50%);
    width: 100vw; /* Je kunt deze waarde aanpassen afhankelijk van de gewenste grootte van de controller */
    height: 100vh;
    /*margin: 0 auto; !* Centreren van de controller *!*/
}

.arrow-right, .arrow-left, .arrow-up, .arrow-down {
    width: 90px; /* Je kunt deze waarde aanpassen afhankelijk van de gewenste grootte van de pijltjes */
    height: 90px;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
}
.arrow-down, .arrow-up{
    /*left: 50%;*/
}

.arrow-up {
    /*top: 0;*/
    transform: translateX(-50%);
    margin-top: 20px;
}

.arrow-down {
    /*bottom: 0;*/
    transform: translateX(-50%);
    margin-bottom: 20px;
}

.arrow-left {
    /*top: 50%;*/
    /*left: 0;*/
    transform: translateY(-50%);
    margin-left: 20px;
}

.arrow-right {
    /*top: 50%;*/
    /*righ8t: 0;*/
    transform: translateY(-50%);
    margin-right: 20px;
}

/*.left-right {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/

/*}*/

.listeners-group{
    height: 150px;
    width: 250px;
    position: absolute;
    bottom: 0;
    left: 0;
    border: 1px solid #1a202c;
}

.microphone{
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 114px;
    left: 260px;
}

.card{
    height: 20%;
    width: 20%;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
}

.beginpunt {
    background-color: cornflowerblue;
    text-align: center;
}
.middelpunt {
    background-color: mediumpurple;
    text-align: center;
}
.eindpunt {
    background-color: slateblue;
    text-align: center;
}
